<% content_for :title, "Lista de Compradores" %>

<div class="table-responsive container-compras">
  <p class="text-success"><%= notice %></p>

  <h1 class="text-center">Compradores Cadastrados</h1>

  <div id="purchasers" class="row">
    <% @purchasers.each do |purchaser| %>
      <% if purchaser.user_id == current_user.id %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title"><%= purchaser.name %></h5>
              <p class="card-text text-muted">Cadastrado por você</p>
              <%= link_to "Visualizar Cadastro", purchaser, class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>