<p style="color: green"><%= notice %></p>

<%= render @purchaser %>

<div>
  <%= link_to "Editar Cadastro", edit_purchaser_path(@purchaser) %>
  <%= link_to "Voltar a Lista dos Compradores", purchasers_path %>

</div>
