<div class="d-flex" style="min-height: 100vh;">
  <div class="container container-menu py-4">
    <h2>Importar Arquivo</h2>

    <%= form_with url: imports_path, local: true, multipart: true do |form| %>

      <%= form.label :file, "Selecione um arquivo para importar" %><br><br><br>
      <%= form.file_field :file %>
      <br><br>
    <div class="text-center mt-3">
      <%= form.submit "Importar", class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
