<div id="<%= dom_id item %>">
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= item.merchant_id %>
  </p>

</div>
