body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .container {
    max-width: 400px;
    background: white;
    padding: 30px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
  }

  .btn {
    text-decoration: none;
    margin: 2px;
    background-color: #025457;
    color: white;
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: grid;
  }

  .btn-red {
    background-color: red;
  }

  .btn-footer {
    margin: 25px;
    justify-content: right;
    display: grid;
  }


.container-compras {
  display: flex;
  justify-content: center;  
}

td {
padding: 15px;
}

.btn-orange {
  background-color: rgb(5, 131, 148);
}

.btnpag {
  text-decoration: none;
  margin: 10px;
  background-color: rgb(0, 128, 128);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1 {
  text-decoration: none;
}

.btn-active {
  text-decoration: none;
  background-color: rgb(5, 88, 88);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btnnovo {
  text-decoration: none;
  background-color: rgb(5, 88, 88);
  color: white;
  border-radius: 5px;
  padding: 7px 7px;
  text-align: right;
}

.containeredit {
  max-width: 400px;
  background: white;
  padding: 30px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.filtro {
  padding-left: 900px;
}

.header {
padding-right: 1100px;
font-size: 20px;
}

.btnsair {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px;
  background-color: rgb(5, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  margin: 3px;
}

.form-control {
margin: 5px;
border-radius: 8px;
padding: 5px;
}

.form-group {
  gap: 20px;
  align-self: flex-start;
  margin: 3px;
}

.field {
margin: 5px;
}
